<section>
    <div class="login container mx-auto text-center max-w-md box-shadow px-[30px] py-[20px] mt-[50px]">
        <h1 class="text-5xl font-bold mb-[20px]">Login</h1>
        <!-- <p class="">Sign in with your data that you entered during your registration.</p> -->
        <form method="POST" class="flex flex-col" action="/login">
            <% if(messages.error) { %>
                <span class="text-orange text-sm text-left"><%= messages.error %></span>
            <% } %>
            <label class="text-left font-bold" for="">Email</label>
            <input name="email" class=" mt-2 mb-3 rounded-md px-3 py-3 border-gray border-[1px] outline-0 border-opacity-40" placeholder="Email" type="email">
            <label name="Password" class="text-left font-bold" for="">Password</label>
            <input name="password" class=" mt-2 mb-3 rounded-md px-3 py-3 border-gray border-[1px] outline-0 border-opacity-40" placeholder="***************" type="password">
            <!-- <p class="text-left text-orange text-[13px] font-semibold">Please choose a password.</p> -->
            <button type="submit" class="font-bold btn-primary mt-[20px]">Login</button>
        </form>
        <div class="flex-center mt-4 ">
            <p class="font-medium">Don’t have an account?</p>
            <a href="/register" class="text-orange font-bold ml-2">Sign up</a>
        </div>
    </div>
    <!-- <p class="text-center text-gray text-xs mt-3">
        &copy;2022 Cao Nam Gyan Corp. All rights reserved.
    </p> -->
</section>

