<!--SLIDE-->
<section class="slide flex w-[100%] mt-10 gap-6 h-[188
px]">
    <div class="w-1/2 relative bg-YellowLight px-14 py-5 flex justify-end overflow-hidden rounded-2xl">
        <img class="absolute left-0 top-[-30%]" src="/img/Slide-1.png" alt="">
        <div class="slide__content flex flex-col">
            <p class="text-[20px] text-purpleDark font-semibold">All deserts</p>
            <p class="text-[40px] text-orange font-bold">20% OFF</p>
            <p class="text-[14px] text-gray font-normal mt-[auto]">Deserty</p>
        </div>
    </div>
    <div class="w-1/2 relative bg-YellowLight px-14 py-5 flex justify-end overflow-hidden rounded-2xl">
        <img class="absolute left-0 top-[-50%]" src="/img/Slide-2.png" alt="">
        <div class="slide__content flex flex-col">
            <p class="text-[20px] text-purpleDark font-semibold">All deserts</p>
            <p class="text-[40px] text-orange font-bold">50% OFF</p>
            <p class="text-[14px] text-gray font-normal mt-[auto]">Deserty</p>
        </div>
    </div>
</section>

<!-- CATEGORIES -->
<section class="category flex mt-8 gap-8">
    <div class="category__item flex-center flex-col w-1/6 shadow-md rounded-2xl py-[12px] px-8 text-center">
        <img class="w-[35px] h-[35px] m-0 mx-[auto]" src="/img/pizza.svg" alt="">
        <p class="text-xl font-semibold mt-3">Pizza</p>
    </div>
    <div class="category__item flex-center flex-col w-1/6 shadow-md rounded-2xl py-[12px] px-8 text-center">
        <img class="w-[35px] h-[35px] m-0 mx-[auto]" src="/img/pizza.svg" alt="">
        <p class="text-xl font-semibold mt-3">Pizza</p>
    </div>
    <div class="category__item flex-center flex-col w-1/6 shadow-md rounded-2xl py-[12px] px-8 text-center">
        <img class="w-[35px] h-[35px] m-0 mx-[auto]" src="/img/pizza.svg" alt="">
        <p class="text-xl font-semibold mt-3">Pizza</p>
    </div>
    <div class="category__item flex-center flex-col w-1/6 shadow-md rounded-2xl py-[12px] px-8 text-center">
        <img class="w-[35px] h-[35px] m-0 mx-[auto]" src="/img/pizza.svg" alt="">
        <p class="text-xl font-semibold mt-3">Pizza</p>
    </div>
    <div class="category__item flex-center flex-col w-1/6 shadow-md rounded-2xl py-[12px] px-8 text-center">
        <img class="w-[35px] h-[35px] m-0 mx-[auto]" src="/img/pizza.svg" alt="">
        <p class="text-xl font-semibold mt-3">Pizza</p>
    </div>
    <div class="category__item flex-center flex-col w-1/6 shadow-md rounded-2xl py-[12px] px-8 text-center">
        <img class="w-[35px] h-[35px] m-0 mx-[auto]" src="/img/pizza.svg" alt="">
        <p class="text-xl font-semibold mt-3">Pizza</p>
    </div>
</section>

<!-- Restaurants -->
<section>
    <h1 class="mt-7 text-black mb-2 text-[30px] font-bold">Nearby restaurants</h1>
    <div class="restautants grid grid-cols-3 gap-6">
        <div class="rounded-xl overflow-hidden shadow-lg relative">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
                <div class="absolute bg-orange text-2 text-white py-2 px-4 rounded-bl-2xl top-0 right-0 text-xs">FEATURED</div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct gap-2">
                    <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                        <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                        <p class="font-semibold text-gray">Sushi</p>
                    </div>
                    <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                        <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                        <p class="font-semibold text-gray">Sushi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
            </div>
        </div>
        <div class="rounded-xl overflow-hidden shadow-lg">
            <div>
                <img 
                class="w-full h-[160px] object-cover"
                src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_960_720.jpg" alt="">
            </div>
            <div class="px-4 py-4">
                <div class="flex-between">
                    <p class="text-xl font-bold">Royal Sushi House</p>
                    <ion-icon class="text-2xl text-gray"name="bag-handle-outline"></ion-icon>
                </div>
                <div class="flex-align-ct text-sm text-gray mt-2 mb-3">
                    <i class="fa-regular fa-clock mr-2"></i>
                    <p class="text-sm">30-40min</p>
                    <div class="w-1 h-1 bg-orange mx-2 rounded-full"></div>
                    <p>$32 min sum</p>
                </div>
                <div class="flex-align-ct px-2 py-1 bg-YellowLight max-w-[80px] rounded-lg">
                    <img class="w-4 h-4 mr-2" src="/img/pizza.svg" alt="">
                    <p class="font-semibold text-gray">Sushi</p>
                </div>
            </div>
        </div>
        
    </div>
</section>