<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
</head>
<body class="">
    <header class="shadow-md py-[5px]">
        <div class="px-[165px] flex-between">
            <div class="flex-align-ct">
                <a href="/"><img class="w-[200px]" src="/img/LOGO.png" alt="" class="header__logo"></a>
                <div class="header__seach bg-yellowLight2 py-[10px] px-[12px] rounded-[12px] ml-[48px]">
                    <input type="text" placeholder="Search" class="bg-transparent outline-none">
                    <i class="fa-solid fa-magnifying-glass text-gray"></i>
                </div>
            </div>
            <div class="flex-align-ct gap-[20px] font-bold text-[16px] text-black">
                <div class="header__navbar transition-all[3s] flex gap-8 mr-12">
                    <a class="header__link hover:text-orange" href="">Home</a>
                    <a class="header__link hover:text-orange" href="">Menus</a>
                    <a class="header__link hover:text-orange" href="">Offers</a>
                    <% if(user) { %>
                        <form id="logout" action="/logout" method="POST">
                            <a onclick="document.getElementById('logout').submit()" href="#" class="header__link hover:text-orange">Logout</a>
                        </form>
                    <% } else { %>
                        <a class="header__link hover:text-orange" href="/register">Resgister</a>
                        <a class="header__link hover:text-orange" href="/login">Login</a>
                    <% } %> 
                </div>
                <div class="relative">
                    <a href="/cart">
                        <i class="fa-solid fa-cart-shopping text-2xl"></i>
                    </a>
                    <div class="cart__header__quanlity w-[25px] h-[25px] rounded-full bg-orange absolute text-white flex-align-ct justify-center top-[-85%] left-[85%] text-[12px]"> <%= session.cart ? session.cart.totalQty : '0' %></div>
                </div>
                <!-- <button class="header__login bg-orange px-5 py-2 rounded-lg text-white hover:opacity-90 transition-all ml-5">Login</button>
                <button class=
                "header__resgister border-[1px] border-orange px-5
                py-2 rounded-lg text-orange hover:bg-orange hover:text-white transition-all">Resgister
                </button> -->
            </div>
        </div>
    </header>
    <div class="body px-[165px]">
        <%- body %>
    </div>
    <!-- <div id="toast" class="toast fixed right-[2%] top-[3%] z-[6000000000] bg-white rounded-lg">
        <div class=" item flex-align-ct px-[25px] py-[15px] max-w-[420px]">
            <div class="toast__icon">
                <i class="fas fa-check-circle text-orange text-[20px]"></i>
            </div>
            <div class="toast__content mx-4">
                <p class="text-xl font-bold">Has been added to cart</p>
                <p class="text-[14px]">You can view the products in the shopping cart</p>
            </div>
            <div class="toast__close">
                <i class="fa-solid fa-xmark text-[20px]"></i>
            </div>
        </div>
    </div> -->
    <div id="toast"></div>
        
    <div>
    <div style="display: none" class="loading">
        <canvas id="pizza"></canvas>
    </div>
    <footer></footer>
    <script src="/js/app.js"> </script>
    <script src="/js/noty.js"> </script>
    <script src="/js/snippet.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>