@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
body {
  font-family: "Nunito", sans-serif;
  animation: all 1s ease forwards;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 10000;
  transition: all 3s, visibility 0.75s;
}
.spinner .hide {
  opacity: 0;
  visibility: hidden;
}
.spinner::after {
  content: "";
  width: 50px;
  aspect-ratio: 1;
  --_c: radial-gradient(farthest-side, #b05d25 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}

@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}
.spinner.hide {
  display: none;
}

@keyframes all {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-align-ct {
  display: flex;
  align-items: center;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #fd6d22;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
}

.box-shadow {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.product__content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px 0;
  min-width: 400px;
  max-width: 450px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  border-radius: 20px;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.toast--success .toast__icon {
  color: #97daa7;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 20px;
  font-weight: 800;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  font-weight: 600;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/*
 *  STYLE 4
 */
.list__cart::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 50px;
}

.list__cart::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.list__cart::-webkit-scrollbar-thumb {
  background-color: #fd6d22;
  border-radius: 50px;
}

.add-to-cart:hover {
  background-color: white;
  border: 1px solid #fd6d22;
  color: #fd6d22;
  transition: all 0.2s ease;
  background-color: transparent;
  transform: translateY(-3px) scale(1.1);
}

.category__item:hover {
  background-color: #edeef2;
  transition: all 1s ease;
  transform: rotate(-3deg);
}

.header__link {
  position: relative;
  color: rgb(71, 69, 69);
}
.header__link::before {
  content: "";
  width: 0%;
  height: 3.5px;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  transition: 0.3s;
  opacity: 0;
  background-color: #fd6d22;
}
.header__link:hover {
  color: #2b2b43;
}
.header__link:hover::before {
  width: 100%;
  opacity: 1;
}
.header__link:active::before {
  width: 100%;
  opacity: 1;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading #pizza {
  width: 5%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product--image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.cart__img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.product__item:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.btn-hover {
  transition: 0.2s;
}
.btn-hover:hover {
  scale: 1.01;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  opacity: 0.9;
}

.header__search {
  transition: all 2s linear;
}

.header__search-item {
  list-style: none;
  cursor: pointer;
}
.header__search-item:hover {
  background: #fff3ed;
}

.status__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  position: relative;
}
.status__item::after {
  content: "";
  width: 80%;
  height: 4px;
  background: #2b2b43;
  top: 50%;
  transform: translateY(-50%);
  left: 60%;
  position: absolute;
}
.status__item span {
  margin-top: 30px;
}
.status__item span .status__line {
  width: 100%;
  height: 5px;
  background: #fd6d22;
}
.status__item ion-icon {
  font-size: 35px;
}

.status__item:nth-child(5)::after {
  opacity: 0;
}

.status__circle {
  margin-top: 20px;
  position: relative;
}

.status__item .status__circle.current {
  background-color: #fd6d22;
}

.status__item .status__circle.step-completed {
  background-color: #fd6d22;
}

.status__item .status__line.step-completed {
  background: #fd6d22;
}

.status__item.current {
  color: #fd6d22;
}

.status__item.step-completed::after {
  background: #ccc;
}

.status__item .status__circle.step-completed {
  background-color: #ccc;
}

.status__item.step-completed {
  color: #ccc;
}

small {
  font-size: 15px;
  margin-left: 70px;
}

.no__search--show {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=app.css.map */
