// sass resources/scss/app.scss:public/css/app.css --watch
@import './varialable/var';
@import './components/base';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
body{
    font-family: 'Nunito', sans-serif;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-align-ct{
    display: flex;
    align-items: center;
}

.btn-primary{
    padding: 10px 20px;
    background-color: $orange;
    color: $white;
    border-radius: 20px;
    font-size: 16px;
}