<section>
    <div class="login container mx-auto text-center max-w-md">
        <h1 class="text-5xl font-bold mt-[30px] mb-[20px]">Login</h1>
        <p class="">Sign in with your data that you entered during your registration.</p>
        <form class="flex flex-col" action="">
            <input class="rounded-md mt-[20px] px-3 py-3 border-gray border-[1px] outline-0 border-opacity-40" placeholder="name@gmail.com" type="email">
            <input class="rounded-md mt-[20px] px-3 py-3 border-gray border-[1px] outline-0 border-opacity-40" placeholder="Please enter password..." type="password">
            <button type="submit" class="btn-primary mt-[20px]">Login</button>
        </form>
        <div class="mt-6 mb-6">
            <p>Or Sign in with</p>
        </div>
        <div class="flex-center mt-4 ">
            <p>Don’t have an account?</p>
            <a src="" class="text-orange font-bold ml-2">Sign up</a>
        </div>
    </div>
</section>

